{% if 'container' in grains['host'] -%}
{% set smtp_server = '10.0.3.1' -%}
{% set inet_interfaces = 'loopback-only' -%}
{% else -%}
{% set smtp_server = '[smtp.gmail.com]:587' -%}
{% set inet_interfaces = 'all' -%}
{% endif -%}
# See /usr/share/postfix/main.cf.dist for a commented, more complete version


# Debian specific:  Specifying a file name will cause the first
# line of that file to be used as the name.  The Debian default
# is /etc/mailname.
#myorigin = /etc/mailname
inet_protocols = ipv4

smtpd_banner = $myhostname ESMTP $mail_name (Ubuntu)
biff = no

# appending .domain is the MUA's job.
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

readme_directory = no

{% if 'ocntainer' not in grains['host'] -%}
# SASL authentication
smtp_sasl_auth_enable=yes
smtp_sasl_password_maps = hash:/etc/postfix/sasl_password
smtp_sasl_security_options = noanonymous
smtp_sasl_tls_security_options = noanonymous

# TLS
smtp_tls_eccert_file =
smtp_tls_eckey_file =
smtp_tls_security_level = may
smtp_tls_CAfile = /etc/postfix/cacert.pem
smtpd_tls_received_header = yes
tls_random_source = dev:/dev/urandom
smtpd_tls_security_level = may
{% endif -%}

# See /usr/share/doc/postfix/TLS_README.gz in the postfix-doc package for
# information on enabling SSL in the smtp client.

myhostname = {{ grains['host'] }}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
mydestination = nixer, nixer.info localhost.localdomain, localhost

relayhost = {{smtp_server}}

mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128, 10.0.3.0/24
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = {{inet_interfaces}}
